@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    537 Paper Street<br />
    Bradford, PA 9808<br />
    <abbr title="Phone">P:</abbr>
    804.895.0064
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@thesecondechelon.com</a><br />
</address>
